#root {
  min-height: 100vh;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 50px;
  font-family: "optima, sans-serif";

  background-position: center center;
  border-radius: 15px;
}
body {
  background: linear-gradient(#3d162b, #e8751a, #fda403);
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
}

.header h1 {
  display: inline-block;
  font-size: 50px;
}

h1 {
  color: #3d162b;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Stencil Std, fantasy, cursive";
  font-size: 20px;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.All-Applications {
  padding: 50px;
  max-width: 1000px;
  max-width: 0 auto;
}

.Applications {
  flex: 0 0 600px;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 3px;
  height: 500px;
  margin: 10px;
}
.sub-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#cake {
  background-image: url("./components/Assets/cake.jpg");
  background-size: 100%;
}

#trips {
  background-image: url("./components/Assets/pumpkins.jpg");
  background-size: 100%;
}

#pumpkin {
  background-image: url("./components/Assets/sunset.jpg");
  background-size: 100%;
}

#sunset {
  background-image: url("./components/Assets/trips.jpg");
  background-size: 100%;
}

.pic2 {
  width: 15%;
  border-radius: 10px;
  border-style: solid;
  margin-left: 40%;
}

p {
  text-align: center;
  font-size: large;
}

@media screen and (max-width: 750px) {
  main,
  nav {
    flex-direction: column;
  }
}

footer {
  background-color: rgb(219, 136, 27);
}

footer li {
  display: inline-block;
  margin-left: 180px;
  font-size: large;
}

#formWrapper {
  border: 2px solid lime;
  height: 100%;
  flex-grow: 1;
  align-items: stretch;
  justify-content: center;

}
